[submodule "artifacts/envheaven-pkg-01"]
	path = artifacts/envheaven-pkg-01
	url = git@github.com:EnvHeaven/EnvHeaven.git
	branch = development-03
[submodule "artifacts/envheaven-pkg-plugin-firebase-hosting-deploy-01"]
	path = artifacts/envheaven-pkg-plugin-firebase-hosting-deploy-01
	url = git@github.com:EnvHeaven/plugins-firebase-hosting-deploy.git
	branch = development-03
[submodule "artifacts/envheaven-pkg-plugin-nodejs-pnpm-01"]
	path = artifacts/envheaven-pkg-plugin-nodejs-pnpm-01
	url = git@github.com:EnvHeaven/plugins-nodejs-pnpm.git
	branch = development-03
[submodule "artifacts/envheaven-pkg-plugin-offiline-web-ui-01"]
	path = artifacts/envheaven-pkg-plugin-offiline-web-ui-01
	url = git@github.com:EnvHeaven/plugins-offiline-web-ui.git
	branch = development-03
